---
title: Querying Google API for Geolocation of polling stations in Rehovot
author: Amit Levinson
date: 'October 18, 2022'
format:
  html
keep-ipynb: true
---

####  Relevant libraries

In [2]:
import googlemaps
import getpass
import pandas as pd
import numpy as np

####  Google api key & prepare raw addresses

Google api key to query maps, geolocations and more. Get yours at the [google developers section](https://console.cloud.google.com/), make sure to enable the relevant queries (gelocating in this case) and keep it safe.

In [10]:
gmaps = googlemaps.Client(key=getpass.getpass())

········

In [3]:
data = pd.read_excel('../potential_data/election-25_kalpi-places_kalpies_list_10_7_nagish.xlsx')

In [5]:
data

,סמל ועדה,שם ועדה,סמל ישוב בחירות,שם ישוב בחירות,סמל קלפי,סמל רכוז,כתובת קלפי,מקום קלפי,נגישה,נגישה מיוחדת,בוחרי כנסת בפועל
0,1,ירושלים,3000,ירושלים,1,14,"מעגלי הרי""ם לוין,27","ביה""ס בית יעקב הצפון (סנהדריה)",,,743
1,1,ירושלים,3000,ירושלים,2,414,"שמואל הנביא,85","ת""ת שערי תורה (למען אחי)",כ,,453
2,1,ירושלים,3000,ירושלים,3,18,"מגן האלף,1",סמינר בית יעקב - עטרת חן,,,614
3,1,ירושלים,3000,ירושלים,4,59,"פישל אהרן,29","ת""ת זיכרו תורת משה",כ,,565
4,1,ירושלים,3000,ירושלים,5,383,"שבטי ישראל,27",משרד החינוך,,,543
...,...,...,...,...,...,...,...,...,...,...,...
11542,20,כרמיאל,8800,שפרעם,39,21,אבו שהאב,"בי""ס מקיף ד - אבו שהאב",כ,כ,733
11543,20,כרמיאל,8800,שפרעם,40,18,שפרעם,מרכז תרבות - מזרחי,,,553
11544,20,כרמיאל,8800,שפרעם,41,20,"מרכז מסחר-ע עתיקה,1","בי""ס קתולי חדש",כ,כ,616
11545,20,כרמיאל,8800,שפרעם,42,19,שפרעם,"בי""ס יסודי מרשאן",,,549
11546,20,כרמיאל,8800,שפרעם,43,19,שפרעם,"בי""ס יסודי מרשאן",,,595

In [19]:
rehovot_polls = (data[data['שם ישוב בחירות'] == "רחובות"]
 ['מקום קלפי']
 .unique()
.tolist()
)

In [20]:
rehovot_polls

['בי"ס נבון',
 'מתנ"ס כפר גבירול ישן (בית תנוב',
 'חט"צ ע"ש בגין',
 'בי"ס עץ חיים',
 'תלמוד תורה ממד הראי"ה (הדרים)',
 'מתנ"ס חוויות - נווה יהודה',
 'בי"ס שפרינצק',
 'ביה"ס ממ"ד סיני',
 'בי"ס קציר ב\'',
 'בי"ס קציר א',
 'בי"ס המר',
 'בי"ס ויצמן חדש',
 'מכללה עירונית קמפוס רחובות',
 'בי"ס בן צבי',
 'תלמוד תורה "הראם"',
 'בי"ס שריד',
 'בי"ס בכור לוי',
 'בי"ס סמילנסקי',
 'בי"ס ממ"ד תחכמוני',
 'ביס ממלכתי דתי בראשית',
 'בי"ס תלמוד תורה חב"ד רחובות',
 'ביה"ס בנות אסתר',
 'בי"ס יבניאלי',
 'בי"ס נועם הצבי-בנות',
 'ביס ת"ת הבאר-לשעבר מפתן אלונים',
 'בי"ס השיטה',
 'בי"ס בן גוריון',
 'מתנ"ס צפון חדש (חוויות)',
 'מתנ"ס חשמונאים',
 'אורט ברזילי',
 'בי"ס נתיבות משה',
 'היחידה להתפתחות הילד - חוויות',
 'מתנס אושיות-מפעל הפיס',
 'בי"ס אמי"ת',
 'קרית חינוך למדעים (חדש)',
 'בי"ס ויצו מקצועי',
 'בי"ס ממ"ד מעלות משולם',
 'בי"ס שזר',
 'ביה"ס ממלכתי הרצוג',
 'ביס אילן רמון',
 'ביס פרחי המדע',
 'בי"ס ניצני המדע',
 'בי"ס שביט',
 'מתנס חוויות ההולנדית']

#### Function to geocode the address & iterate across the list

We'll write up a function to query an addresses since the 'gmaps.gecode' returns a json format object. in case nothing returns it's an emtpy list, so we want to handle that too. other than return the relevant geometric location. Thanks to [this StackOverflow response](https://stackoverflow.com/questions/37311687/extracting-lat-lon-from-geocode-result-list-with-python-google-maps-api) for the quick function.

In [21]:
def geocode_address(loc):
    geocode_result = gmaps.geocode(loc + ', רחובות')
    if not geocode_result:
        location = {
        'address': loc,
        'lat' : np.NaN,
        'lon': np.NaN
    }
    else:
        lat = geocode_result[0]["geometry"]["location"]["lat"]
        lon = geocode_result[0]["geometry"]["location"]["lng"]
        location = {
            'address': loc,
            'lat' : lat,
            'lon': lon
        }
    df = pd.DataFrame([location])
    return df

In [22]:
geocode_address(rehovot_polls[0]) # test output

     address       lat        lon
0  בי"ס נבון  31.89273  34.776944

In [23]:
lst = []

In [24]:
for i in range(len(rehovot_polls)):
    lst.append(geocode_address(rehovot_polls[i]))

In [25]:
addresses = pd.concat(lst)
addresses.head()

                          address        lat        lon
0                       בי"ס נבון  31.892730  34.776944
0  מתנ"ס כפר גבירול ישן (בית תנוב  31.894527  34.777092
0                   חט"צ ע"ש בגין  31.902192  34.825207
0                    בי"ס עץ חיים  31.885227  34.786213
0   תלמוד תורה ממד הראי"ה (הדרים)  31.892773  34.811272

In [27]:
addresses.to_csv('polling_station_rehovot.csv')

Voila! Enjoy and lookout for the graph using it — probably day 1 😉